<select @attributes="AdditionalAttributes" id="@Id" class="@CssClass" @onchange="UpdateTheme">
    @foreach (var theme in AvailableThemes)
    {
        <option value="@theme.GetUrl">@theme.Name</option>
    }
</select>

