@if (FileFound)
{
    <div>
        @if (AllowCopy)
        {
            <div class="copyButtonDiv">
                <button class="copyButton" @onclick="CopySnippetToClipboard">
                    <span class="button-text">Copy</span><img class="copy" src="_content/BlazorCodeSnippets/fontawesome/svgs/regular/clipboard.svg" alt="copy" />
                </button>
            </div>
        }

        <pre>
        <code @attributes="AdditionalAttributes" class="@SelectedLanguage">

                @SnippetCode
                </code>
            </pre>
    </div>

}
else
{
    @FileNotFound
}



