@page "/code-snippet-example"

<h3>CodeSnippetExample</h3>

<BlazorCodeSnippet SnippetFilePath="snippetfiles/test.txt" Language="SnippetLanguage.Cshtml" AllowCopy="true">
   <FileNotFound>
       <p>File can't be found</p>
   </FileNotFound>    
</BlazorCodeSnippet>

